.container{
    background: linear-gradient(0deg, rgb(20, 134, 136) 0%, rgba(23,18,83,1) 130%);
    color: white;
    position: absolute;
    top: 13%;
    left: 19%;
    width: 870px;
    border:3px solid black;
}
.logotec img{
    position: absolute;
    width: 170px;
    top: 1%;
    left: 82%;
  }