/*Pag Busqueda*/
*{
    margin: 0px;
    padding: 0px;  
}
/*logo*/
.logotec img{
    position: absolute;
    width: 170px;
    top: 1%;
    left: 82%;
  }

/*Scroll*/
body::-webkit-scrollbar{
  width: 6.5px;
  
}
body::-webkit-scrollbar-thumb{
  background: rgb(20, 129, 129);
  border-radius: 10px;
}
/*logo*/
.logotec img{
  position: absolute;
  width: 170px;
  top: 1%;
  left: 82%;
}

body p{
    position: absolute;
    font-family: Times New Roman;
    font-size: 30px;
    top: 2%;
    left: 33%;
}
/*Sidebar*/
#sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background:black;
    left: -250px;
    transition: 0.5s;
    z-index: 1;
    top: 0;   
}

#sidebar.active {
    left: 0px;
    transition: 0.5s;
}

.item:hover{
    background: rgba(220, 225, 225, 0.3);
    border-left:5px solid #eeee;
}

#toggle-btn{
    position: relative;
    left: 230px;
    top:30px;   
}

.contenedorbtn{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: scale(0.7);
    padding: 2px;
    width: 5px;
}
.menu{
    text-decoration:none;
}

.menu img{
    width: 200px;
    border-radius: 12px;
    margin: 5px 15px;
    background-color: blue;
}

.menu li {
position: relative;
}

.menu li a{
    text-decoration:none;
    list-style: none;
    display: block;
    position: relative;
    color:rgb(230, 227, 227);
    padding: 15px 7PX;
    outline: .5px solid rgba(220, 225, 225, 0.1);
    font-weight: 250px;
    font-size: 16px;
    transition: .3s ease color;
    text-align: left;
}

.menu li:hover > a{
    color: white;
    background: rgb(255,255,255,0.2);
    border-left: 4px solid #eee;
    transition: 0.4s;
    text-decoration:none;
}

.menu li ul{
    background: black;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    z-index: 999;
    left: 245px;
    top: 0;
    list-style: none;
    position: absolute;
    height: auto;
    min-width: 245px;
    padding: 0;
}

.menu li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
    left: 250px;   
}

.imagenf{
    background: black ;
}


#btnadd{
    position: absolute;
    width: 200px;
    top:10%;
    left: 20%;
}

.txtb{
    position: absolute;
    top:11%;
    left:54%;
    width: 230px;
}

.subb{
    position: absolute;
    top:11%;
    left:71%;
    width: 80px;
    color: white;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(23,18,83,1) 100%);
}

.tablabootj{
    height: 20px;
    width: 150px;
}

.tablabootjd{
    height: 20px;
    width: 60px;
}

.tablabootje{
    height: 20px;
    width: 200px;
}

.tablabootjf{
    height: 20px;
    width: 70px;
}
 
.tablabootji{
    height: 20px;
    width: 60px;
}

.tablabootherra{
    position: absolute;
    width: 800px;
    top: 16%;
    left: 20%;
}

#tabladj th{
    background: linear-gradient(0deg, rgb(20, 134, 136) 0%, rgba(23,18,83,1) 100%);
}